::-webkit-scrollbar {
  width: 10px;
  background-color: $color-two;
}

::-webkit-scrollbar-thumb {
  background-color: $color-three;
  border-radius: 5px;
}

@font-face {
  font-family: "Varela Round";
  src: url("../fonts/VarelaRound-Regular.eot");
  src: url("../fonts/VarelaRound-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/VarelaRound-Regular.woff2") format("woff2"), url("../fonts/VarelaRound-Regular.woff") format("woff"),
    url("../fonts/VarelaRound-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* html,
body {
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background-color: $color-six;
  font-family: "Varela Round", serif;
  max-width: 900px;
  margin: 10px auto 0;
}

h1 {
  color: $color-three;
  font-size: 2.2em;
}

p {
  color: $color-seven;
  font-size: 1.4em;
}
