$color-one: #ffffff;
$color-two: #f2f2f2;
$color-three: #6829A6;
$color-four: #5757EB;
$color-five: #8D8FFE;
$color-six: #d2d5fc;
$color-seven: #000000;
$color-eight: #7E7E7E;
$color-nine: #e54d45;